body { background: #4acd72; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-config-0 { color: #903bf1; font-size: 20px; margin-bottom: 5px; }
.block-search-1 { color: #684304; font-size: 14px; margin-bottom: 5px; }
.block-router-2 { color: #dbc03b; font-size: 15px; margin-bottom: 5px; }
.block-user-3 { color: #5dfb43; font-size: 18px; margin-bottom: 5px; }
.block-payment-4 { color: #49eb8f; font-size: 21px; margin-bottom: 5px; }